<form name="reservationForm" novalidate
	data-ng-submit="empVm.addReservation()">
	<!-- customer id -->
	<div class="form-group">
		<label for="c_id">Customer ID</label> <input type="number"
			class="form-control" required name="c_id" id="c_id"
			placeholder="Your ID" data-ng-model="empVm.reservation.c_id">
		<div data-ng-messages="reservationForm.c_id.$error" class="errors"
			data-ng-if="reservationForm.c_id.$dirty">
			<p data-ng-message="required">ID is required</p>
		</div>

		<!-- customer name -->
	</div>
	<div class="form-group">
		<label for="name">Name</label> <input type="text" class="form-control"
			required name="name" id="name" placeholder="Your Name"
			data-ng-model="empVm.reservation.c_name">
		<div data-ng-messages="reservationForm.name.$error" class="errors"
			data-ng-if="reservationForm.name.$dirty">
			<p data-ng-message="required">Name is required</p>
		</div>
	</div>

	<!-- seating table id -->
	<div class="form-group">
		<label for="t_id">Table number</label> <input type="number"
			class="form-control" required name="t_id" id="t_id"
			placeholder="Table number" data-ng-model="empVm.reservation.t_id">
		<div data-ng-messages="reservationForm.t_id.$error" class="errors"
			data-ng-if="reservationForm.t_id.$dirty">
			<p data-ng-message="required">Table number is required</p>
		</div>
	</div>

	<!-- party size -->
	<div class="form-group">
		<label for="r_size">Party size</label> <input type="number"
			class="form-control" required name="r_size" id="r_size"
			placeholder="Party size" data-ng-model="empVm.reservation.r_size">
		<div data-ng-messages="reservationForm.r_size.$error" class="errors"
			data-ng-if="reservationForm.r_size.$dirty">
			<p data-ng-message="required">Enter party size</p>
		</div>
	</div>

	<!-- reservation status -->
	<div class="form-group">
		<label for="r_status">Status</label> <input type="text"
			class="form-control" id="r_status" required placeholder="Status"
			data-ng-model="empVm.reservation.r_status">
		<div data-ng-messages="reservationForm.r_status.$error" class="errors"
			data-ng-if="reservationForm.r_status.$dirty">
			<p data-ng-message="required">Enter reservation status</p>
		</div>
	</div>

	<!-- reservation date -->
	<div class="form-group">
		<label for="r_reserve_date">Reservation Date</label> <input
			type="text" class="form-control" required name="r_reservation_date"
			id="r_reserve_date" placeholder="yyyy-MM-dd"
			data-ng-model="empVm.reservation.r_reservation_date">
		<div data-ng-messages="reservationForm.r_reservation_date.$error"
			class="errors" data-ng-if="reservationForm.r_reservation_date.$dirty">
			<p data-ng-message="required">Enter date for reservation</p>
		</div>
	</div>

	<!-- today date -->
	<div class="form-group">
		<label for="r_today_date">Today Date</label> <input type="text"
			class="form-control" name="r_today_date" id="r_today_date"
			placeholder="yyyy-MM-dd"
			data-ng-model="empVm.reservation.r_today_date">
		<div data-ng-messages="reservationForm.r_today_date.$error"
			class="errors" data-ng-if="reservationForm.r_today_date.$dirty">
			<p data-ng-message="required">Enter today date</p>
		</div>
	</div>

	<!-- reservation confirmation -->
	<div class="form-group">
		<label for="r_confirmation">Confirmation</label> <input type="text"
			class="form-control" required name="r_confirmation"
			id="r_confirmation" placeholder="confirmation"
			data-ng-model="empVm.reservation.r_confirmation">
		<div data-ng-messages="reservationForm.r_confirmation.$error"
			class="errors" data-ng-if="reservationForm.r_confirmation.$dirty">
			<p data-ng-message="required">Confirmation required</p>
		</div>
	</div>

	<button type="submit" class="btn btn-primary"
		data-ng-disabled="reservationForm.$invalid">Add reservation</button>
</form>

{{empVm.message}}
