
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index.html">Hema's Kitchen</a>
		</div>

		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-2">
			<ul class="nav navbar-nav">
				<li class="dropdown" data-dropdown data-is-open="status.isopen" data-dropdown data-keyboard-nav>
					<a id="single-button" role="button" class="dropdown-toggle"
						data-dropdown-toggle data-ng-disabled="disabled"> Menu<span
						class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu"
						aria-labelledby="single-button">
						<li role="menuitem"><a href="#">Beverages</a></li>
						<li role="menuitem"><a href="#">Vegan</a></li>
						<li role="menuitem"><a href="#">Meat</a></li>
						<li role="menuitem"><a href="#">Separated link</a></li>
					</ul>
				</li>
				<li><a href="reservation.html">Reservation</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search">
						<a class="btn btn-default"><i
							class="glyphicon glyphicon-search"></i></a>
					</div>
				</form>
			</ul>
		</div>
	</div>
</nav>
